include whereistheplanet/data/binary_HD30003B.hdf5
include whereistheplanet/data/binary_HR5362B.hdf5
include whereistheplanet/data/binary_kap01SclB.hdf5
include whereistheplanet/data/binary_wdsj00209+1059.hdf5
include whereistheplanet/data/binary_wdsj00427-3828.hdf5
include whereistheplanet/data/binary_wdsj04021-3429.hdf5
include whereistheplanet/data/binary_wdsj05055+1948.hdf5
include whereistheplanet/data/binary_wdsj05270-6837.hdf5
include whereistheplanet/data/binary_wdsj06345-1114.hdf5
include whereistheplanet/data/binary_wdsj06364+2717.hdf5
include whereistheplanet/data/binary_wdsj08394-3636.hdf5
include whereistheplanet/data/binary_wdsj10269+1713.hdf5
include whereistheplanet/data/binary_wdsj10361-2641.hdf5
include whereistheplanet/data/binary_wdsj14077-4952.hdf5
include whereistheplanet/data/binary_wdsj18516-1719.hdf5
include whereistheplanet/data/binary_wdsj20399+1115.hdf5
include whereistheplanet/data/post_1rxs0342+1216b.hdf5
include whereistheplanet/data/post_1rxs1609b.hdf5
include whereistheplanet/data/post_1rxs2351+3127b.hdf5
include whereistheplanet/data/post_2m0103b.hdf5
include whereistheplanet/data/post_2m0122b.hdf5
include whereistheplanet/data/post_2m1559+4403b.hdf5
include whereistheplanet/data/post_51erib.hdf5
include whereistheplanet/data/post_abpicb.hdf5
include whereistheplanet/data/post_aflepb.hdf5
include whereistheplanet/data/post_betapicb.hdf5
include whereistheplanet/data/post_betapicc.hdf5
include whereistheplanet/data/post_betpic.hdf5
include whereistheplanet/data/post_cd-352722b.hdf5
include whereistheplanet/data/post_dhtaub.hdf5
include whereistheplanet/data/post_fwtauc.hdf5
include whereistheplanet/data/post_gj504b.hdf5
include whereistheplanet/data/post_gj758b.hdf5
include whereistheplanet/data/post_gl229b.hdf5
include whereistheplanet/data/post_gl229bc.h5
include whereistheplanet/data/post_gqlupb.hdf5
include whereistheplanet/data/post_gsc6214-210b.hdf5
include whereistheplanet/data/post_gsc08047-0023b.hdf5
include whereistheplanet/data/post_hd984b.hdf5
include whereistheplanet/data/post_hd1160b.hdf5
include whereistheplanet/data/post_hd4747b.hdf5
include whereistheplanet/data/post_hd13724b.hdf5
include whereistheplanet/data/post_hd19467b.hdf5
include whereistheplanet/data/post_hd23514b.hdf5
include whereistheplanet/data/post_hd33632b.hdf5
include whereistheplanet/data/post_hd49197b.hdf5
include whereistheplanet/data/post_hd72946b.hdf5
include whereistheplanet/data/post_hd95086b.hdf5
include whereistheplanet/data/post_hd135344ab.hdf5
include whereistheplanet/data/post_hd136164ab.hdf5
include whereistheplanet/data/post_hd206893.hdf5
include whereistheplanet/data/post_hd206893b.hdf5
include whereistheplanet/data/post_hd284149abb.hdf5
include whereistheplanet/data/post_hip64892b.hdf5
include whereistheplanet/data/post_hip65426b.hdf5
include whereistheplanet/data/post_hip78530b.hdf5
include whereistheplanet/data/post_hip79098b.hdf5
include whereistheplanet/data/post_hr2562b.hdf5
include whereistheplanet/data/post_hr3549b.hdf5
include whereistheplanet/data/post_hr8799.hdf5
include whereistheplanet/data/post_hr8799b.hdf5
include whereistheplanet/data/post_hr8799c.hdf5
include whereistheplanet/data/post_hr8799d.hdf5
include whereistheplanet/data/post_hr8799e.hdf5
include whereistheplanet/data/post_kappaandb.hdf5
include whereistheplanet/data/post_pds70.hdf5
include whereistheplanet/data/post_pds70b.hdf5
include whereistheplanet/data/post_pztelb.hdf5
include whereistheplanet/data/post_ross458b.hdf5
include whereistheplanet/data/post_roxs12b.hdf5
include whereistheplanet/data/post_roxs42b.hdf5
include whereistheplanet/data/post_twa5b.hdf5