<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
<link rel="stylesheet" href="static/bootstrap-theme.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="text-center py-3">
<h1>Where is the planet?</h1>
<br>
<h5 style="line-height: 0px;margin-top: 0;">This page predicts the locations of directly-imaged exoplanets and brown dwarf companions.</h5>
<h5>If there are any orbits you would like to see added, contact Jason Wang at jwang4@caltech.edu.</h5>
<br>
<body>
{% for message in form.planetname.errors %}
<div>{{ message }}</div>
{% endfor %}

{% for message in form.time.errors %}
<div>{{ message }}</div>
{% endfor %}

<form action="" method=post>
{{ form.planetname.label }}
{{ form.planetname }}
<br>
{{ form.time.label }} 
{{ form.time }} 
<br>
<br>
{{ form.submit }}
<br>
<br>
{{ ra_args }}
<br>
{{ dec_args }}
<br>
{{ sep_args }}
<br>
{{ pa_args }}
<br>
<br>
<br>
<br>
</form>
</body>
</div>
<footer class="page-footer" style="background-color: #e3f2fd;">
<div class="text-center py-2">
Copyright © 2019 Matas Kulikauskas
</div>
</footer>
</html>
