HD_49197_B_50000000.hdf5 filter=lfs diff=lfs merge=lfs -text
HD_984_B_100000.hdf5 filter=lfs diff=lfs merge=lfs -text
kappa_And_B_50000000.hdf5 filter=lfs diff=lfs merge=lfs -text
1RXS0342+1216_B_50000000.hdf5 filter=lfs diff=lfs merge=lfs -text
HD_1160_B_50000000.hdf5 filter=lfs diff=lfs merge=lfs -text
GJ_504_B_50000000.hdf5 filter=lfs diff=lfs merge=lfs -text
HD_19467_B_50000000.hdf5 filter=lfs diff=lfs merge=lfs -text
HD_23514_B_100000.hdf5 filter=lfs diff=lfs merge=lfs -text
HIP_65426_b_100000.hdf5 filter=lfs diff=lfs merge=lfs -text
HR_2562_B_100000.hdf5 filter=lfs diff=lfs merge=lfs -text
PDS_70_b_100000.hdf5 filter=lfs diff=lfs merge=lfs -text
1RXS2351+3127_B_100000.hdf5 filter=lfs diff=lfs merge=lfs -text
CD-35_2722_B_100000.hdf5 filter=lfs diff=lfs merge=lfs -text
PZ_Tel_B_50000000.hdf5 filter=lfs diff=lfs merge=lfs -text
Ross_458_B_50000000.hdf5 filter=lfs diff=lfs merge=lfs -text
HR_3549_B_100000.hdf5 filter=lfs diff=lfs merge=lfs -text
2M1559+4403_B_100000.hdf5 filter=lfs diff=lfs merge=lfs -text
HD_206893_B_100000.hdf5 filter=lfs diff=lfs merge=lfs -text
HD_95086_b_100000.hdf5 filter=lfs diff=lfs merge=lfs -text
TWA_5_B_50000000.hdf5 filter=lfs diff=lfs merge=lfs -text
51_Eri_b_100000.hdf5 filter=lfs diff=lfs merge=lfs -text
DH_Tau_B_100000.hdf5 filter=lfs diff=lfs merge=lfs -text
post_kappaandb.hdf5 filter=lfs diff=lfs merge=lfs -text
post_1rxs0342+1216b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hip65426b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_cd-352722b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_gj504b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hd49197b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hd95086b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hr2562b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_pztelb.hdf5 filter=lfs diff=lfs merge=lfs -text
post_1rxs2351+3127b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_2m1559+4403b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hr3549b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_pds70b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_twa5b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_dhtaub.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hd23514b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hd19467b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hd984b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_ross458b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_51erib.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hd1160b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hip64892b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_2m0107b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_2m0122b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_gqlupb.hdf5 filter=lfs diff=lfs merge=lfs -text
post_gsc08047-0023b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_gsc6214-210b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hip79098b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_roxs12b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_roxs42b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_gj758b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_2m0103b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_fwtauc.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hd4747b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hd284149abb.hdf5 filter=lfs diff=lfs merge=lfs -text
post_pds70.hdf5 filter=lfs diff=lfs merge=lfs -text
post_betpic.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hd72946b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_gl229b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hd13724b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hd33632b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hr8799.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hd206893.hdf5 filter=lfs diff=lfs merge=lfs -text
post_hip78530b.hdf5 filter=lfs diff=lfs merge=lfs -text
post_1rxs1609b.hdf5 filter=lfs diff=lfs merge=lfs -text
binary_HD174536B.hdf5 filter=lfs diff=lfs merge=lfs -text
binary_HD25535B.hdf5 filter=lfs diff=lfs merge=lfs -text
binary_HD30003B.hdf5 filter=lfs diff=lfs merge=lfs -text
binary_HR5362B.hdf5 filter=lfs diff=lfs merge=lfs -text
binary_kap01SclB.hdf5 filter=lfs diff=lfs merge=lfs -text
post_abpicb.hdf5 filter=lfs diff=lfs merge=lfs -text
